{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>What is ApeTrader?</h1>
  <p class="lead">ApeTrader offers free tools to retail stock and options traders. These tools aim to increase the accuracy and profitability of your trades. The tools on this site will help you save time to be a more efficient and effective trader.</p>
  <h1>Tools</h1>
  <p class="lead">Currently the only available tool is the inside/outside bar stock screener. This tool scans 100 stocks for those that ended their last day on an inside or outside bar.</p>
</div>
{% endblock %}